@model Netstr.ViewModels.HomeViewModel

<div class="container">
    <div class="box">
        <img src="https://raw.githubusercontent.com/maxblake2015/netstr/refs/heads/main/art/logo.png" />

        <table>
            <tr>
                <td>Nazwa</td>
                <td>@Model.RelayInformation.Name</td>
            </tr>
            <tr>
                <td>Opis</td>
                <td>@Model.RelayInformation.Description</td>
            </tr>
            @if (!string.IsNullOrEmpty(@Model.RelayInformation.Contact))
            {
                <tr>
                    <td>Kontakt</td>
                    <td><a href="mailto:@Model.RelayInformation.Contact" target="_blank">@Model.RelayInformation.Contact</a></td>
                </tr>
            }
            <tr>
                <td>Pubkey</td>
                <td><a href="https://jumble.social/users/@(Model.RelayInformation.PublicKey)" target="_blank">@Model.RelayInformation.PublicKey</a></td>
            </tr>
            <tr>
                <td>Obsługiwane NIPy</td>
                <td>
                    @foreach (var nip in @Model.RelayInformation.SupportedNips)
                    {
                        <a href="https://github.com/nostr-protocol/nips/blob/master/@(nip.ToString("D2")).md" target="_blank">@nip</a>   
                    }
                </td>
            </tr>
            <tr>
                <td>Wersja</td>
                <td>@Model.RelayInformation.SoftwareVersion</td>
            </tr>
            <tr>
                <td>Oprogramowanie</td>
                <td><a href="@Model.RelayInformation.Software" target="_blank">@Model.RelayInformation.Software</a></td>
            </tr>
            @if (!string.IsNullOrEmpty(Model.Environment))
            {
                <tr>
                    <td>Environment</td>
                    <td>@Model.Environment</td>
                </tr>
            }
        </table>

        <div class="connect-box">
            Adres podłączenia do tego transmitera: <strong>@Model.ConnectionLink</strong>
        </div>
    </div>
</div>
